/* Actuality Cards */
.actuality-cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 35px;

    .actuality-card-div {
        width: 100%;

        .actuality-card-img {
            display: block;
            width: 100%;
            height: 40%;
            object-fit: cover;
        }

        .actuality-cards-content{
            padding: 10% 30px;
            height: 58%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .actuality-content {
                text-align: left;
            }
        }
    }
}

/* Pagination */
.pagination-articles {
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 247px;

    a {
        color: $dark;
    }

    .prev {
        content: url("./img/icons/arrow_back.svg");
    }

    .next {
        content: url("./img/icons/arrow_forward.svg");
    }

    .current {
        background-color: $nuance-1;
        padding: 5px 15px;
    }

    span {
        padding: 0;
    }

    .pagination-number {
        background-color: $nuance-1;
        padding: 5px 10px;
    }
}


/* Prestations */
.prestations-cards {
    position: relative;
    .prestations-wrapper {
        .prestations-card-content {
            display: flex;
            flex-direction: column;
            .prestation-btn {
                margin-top: 15px; 
                padding:15px 10px; 
                text-align: center;
                width: 35%;
            }
            // List
            .article-content-list{
                .list-element {
                    &::before {
                        content:"• ";
                        font-size: 20px;
                    }
                }
            }
        }
    }
    &:nth-child(2n+1) {
        &::after {
            content: url("./img/backgrounds/top-wave-light.svg");
            position: absolute;
            bottom: -113;
            z-index: 50;
            max-width: 100%;
            transform: rotate(180deg);
        }

        &::before {
            content: url("./img/backgrounds/top-wave-light.svg");
            position: absolute;
            top: -113px;
            z-index: 50;
            max-width: 100%;
            width: 100%;
            transform: rotateY(180deg);
        }
    }

    &:nth-child(2n+2) {
        background-color: $nuance-33;
    }

    &:first-child {
        &::before {
            content: none;
        }
    }

    &:last-child {
        &::after {
            content: none;
        }
    }

    .prestations-wrapper {
        display: flex;
        flex-wrap: wrap;

        .card-img {
            // min-height: 263px;
            object-fit: cover;
            width: 100%;
        }
    }

    .prestations-top-wave {
        transform: scaleY(-1) scaleX(-1);
        top: -2px;
        width: 100%;
    }

    .prestations-bottom-wave {
        bottom: 0;
        width: 100%;
    }
}

/* Services Crads */
.services-card {
    width: 150px;
    min-height: 150px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        text-align: center;
        height: 100%;

        img{
            width: 50%;
            height: 50%;
        }

        .card-line {
            content: '';
            min-width: 38px;
            height: 3px;
            background-color: $vert-2;
        }

        span {
            padding: 0 10px;
        }
    }
}

#services-prestations {
    position: initial;
}