@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* Fonts */
$font-family-tilte: 'Ubuntu', sans-serif;
$font-family-text: 'Figtree', sans-serif;

/* Font-size Mobile */ 
$h1-size: 62px;
$h2-size: 34px;
$h3-size: 26px;
$body-size: 15px; // buttons, body, links
$mentions-size: 6px;
$subtitle-size: 14px;
$footer-size: 8px;

.h1-style {
    font-family: $font-family-tilte;
}

.h2-style {
    font-family: $font-family-tilte;
    font-weight: 500;
    line-height: 42px;
    padding-bottom: 15px;
}

.h3-style {
    font-family: $font-family-tilte;
    font-weight: 500;
    line-height: 38px;
}

.button-style {
    font-family: $font-family-text;
    font-weight: 500;   
    line-height: 18px;
}

.body-style {
    font-family: $font-family-text;
    font-size: $body-size;
    font-weight: 300;
    line-height: 18px;
    padding-bottom: 8px;
}

.links-style {
    font-family: $font-family-text;
    font-weight: 400;
    line-height: 18px;
}

.mention-style {
    font-family: $font-family-text;
    font-weight: 400;
    line-height: 12px;
}

.subtitle-style {
    font-family: $font-family-text;
    font-weight: 700;
    line-height: 20px;
}

.footer-menu-style {
    font-family: $font-family-text;
    font-weight: 400;
    line-height: 14px;
}